    <h1> <%= @article.title %> </h1>
    <p>
        <%= @article.text %>
        <hr />
    </p>
    <h2> Comments </h2>
    <% @article.comments.each do |comment| %>
    <i> By: <%= comment.author %> </i> <br />
    <p><%= comment.body %></p> 


        <hr />
    
    <% end %>


    <h2> Add comment </h2>
    <p>
    <%= bootstrap_form_for([@article, @article.comments.build]) do |f| %>

        <p>
            <%= f.text_field :author %>
            
        </p>

        <p>
            <%= f.text_area :body %>
            
        </p>
        
        <p>
            <%= f.submit %>
        </p>


    <% end %>

    </p>